[client]
port    = 3306
socket  = /tmp/mysql.sock
default-character-set=utf8

# The MySQL server
[mysqld]
port            = 3306
socket  = /tmp/mysql.sock
character-set-server = utf8
collation-server = utf8_czech_ci
max_allowed_packet = 200M
innodb_buffer_pool_size = 100M
innodb_log_file_size = 300M

[mysqldump]
max_allowed_packet = 10M

#
# include *.cnf from the config directory
#
!includedir /usr/local/etc/mysql/conf.d/
